<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
</head>

<body>
    <form method='post'>
        <tr>
            <td> <select id='DoW' name='DoW'>
  <option value="Monday">Monday</option>
  <option value="Tuesday">Tuesday</option>
  <option value="Wednesday">Wednesday</option>
  <option value="Thursday">Thursday</option>
  <option value="Friday">Friday</option>
  <option value="Saturday">Saturday</option>
  <option value="Sunday">Sunday</option>
               </select></td>
            <td><input type="time" id='DeptTime' name='DeptTime' /></td>
            <td><input style="align-content: center" type="submit" id="submit" value="Submit" /> </td>
        </tr>
    </form>


</body>

</html>
